footer {
    background-color: #f0f0f0;
    padding: 20px;
    text-align: center;
}

.copyright {
    margin-bottom: 10px;
}

.contact-info {
    margin-top: 10px;
}

.contact-info h2 {
    margin-bottom: 5px;
}

.contact-info p {
    margin: 5px 0;
}

.contact-info a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}
